<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lwm.app" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.net.conn.CONNECTIVITY_CHANGE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name="com.lwm.app.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <receiver android:name=".receiver.MediaButtonIntentReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.PendingIntentReceiver" >
            <intent-filter>
                <action android:name="com.lwm.app.player.close" />
                <action android:name="com.lwm.app.player.play_pause" />
                <action android:name="com.lwm.app.player.next" />
                <action android:name="com.lwm.app.player.prev" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.lwm.app.service.LocalPlayerService" />

        <service
            android:name="com.lwm.app.service.StreamPlayerService" />

        <activity
            android:screenOrientation="portrait"
            android:name=".ui.activity.MainActivity"
            android:theme="@style/AppTheme.StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.activity.LocalSongChooserActivity"
            android:parentActivityName=".ui.activity.MainActivity"
            android:theme="@style/AppTheme.LocalSongChooserActivity"
            android:label="@string/app_name" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity" />

        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.activity.LocalPlaybackActivity"
            android:parentActivityName=".ui.activity.LocalSongChooserActivity"
            android:theme="@style/AppTheme.PlaybackActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lwm.app.ui.activity.LocalSongChooserActivity" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.activity.RemotePlaybackActivity"
            android:parentActivityName=".ui.activity.StationChooserActivity"
            android:theme="@style/AppTheme.PlaybackActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.StationChooserActivity" />
        </activity>

        <activity
            android:label="@string/action_settings"
            android:name="com.lwm.app.ui.activity.PreferenceActivity" />

        <activity
            android:screenOrientation="portrait"
            android:name=".ui.activity.StationChooserActivity"
            android:parentActivityName=".ui.activity.MainActivity"
            android:label="@string/title_activity_station_chooser" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity" />

        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".ui.activity.AlbumInfoActivity"
            android:label=""
            android:theme="@style/AppTheme.LocalSongChooserActivity"
            android:parentActivityName=".ui.activity.LocalSongChooserActivity" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.LocalSongChooserActivity" />
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".ui.activity.ArtistInfoActivity"
            android:theme="@style/AppTheme.LocalSongChooserActivity"
            android:parentActivityName=".ui.activity.LocalSongChooserActivity" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.LocalSongChooserActivity" />
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".ui.activity.FirstTimeActivity" >
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:name=".ui.activity.ChatActivity" >
        </activity>


    </application>

</manifest>
